@import 'overlayscrollbars/overlayscrollbars.css';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: revert;
    font-weight: revert;
  }
}

@layer components {
  .os-scrollbar-handle {
    @apply rounded-lg transition-colors duration-200;
  }
}

@layer app {
  html,
  body {
    @apply scroll-smooth;
  }

  body {
    @apply bg-seashell dark:bg-cod-gray !important;
  }

  .avatar {
    @apply border border-solid border-seashell !important;
  }

  .nav-app-bar {
    @apply sticky bg-limed-spruce-rgba shadow-none backdrop-blur-md dark:bg-woodsmoke-rgba !important;
  }

  .content {
    @apply max-w-full grow p-0 xs:mb-14 md:mb-2 !important;
  }

  .card-with-line {
    @apply relative !important;
  }

  .card-with-line::before {
    @apply absolute -inset-y-px left-0 w-3 bg-vida-loca content-[""] !important;
  }

  #search-input {
    @apply scroll-mt-96;
  }

  .breadcrumb {
    @apply mb-2 flex h-12 bg-white pl-5 pr-5 text-xl dark:bg-bunker !important;
  }

  .breadcrumb-item {
    @apply text-horizon hover:text-deepsky-blue !important;
  }

  .breadcrumb-last-item {
    @apply text-xl text-mine-shaft !important;
  }

  .global-spinner {
    @apply flex min-h-[50vh] flex-col items-center justify-center;
  }

  .gradient-circular-progress {
    .first-stop {
      stop-color: #f39d0b;
    }

    .second-stop {
      stop-color: #ed4444;
    }
  }

  .your-interest {
    .your-interest-h3 {
      @apply m-0 mb-4 text-[1.8rem] font-semibold leading-[1.2] tracking-[0.03em] !important;
    }
  }

  .tox-promotion,
  .tox-statusbar__branding {
    @apply hidden !important;
  }

  .menu-list {
    @apply p-0 !important;
  }

  .nav-tabs {
    @apply mb-2 bg-white dark:bg-bunker;
  }

  .banner {
    @apply relative;
  }

  .banner-wrapper {
    @apply xs:hidden md:block;
  }

  .banner-title {
    @apply max-w-2xl text-3xl leading-10 !important;
  }

  .banner-wrapper:hover .banner-title {
    @apply underline;
  }

  .comment-card-link.active {
    @apply border-green-600 shadow-md shadow-green-600 !important;
  }

  .card {
    @apply overflow-hidden rounded-lg bg-none text-mine-shaft !important;
  }

  .card-header {
    @apply flex flex-nowrap items-start gap-1 p-1 !important;

    & .MuiCardHeader-title {
      @apply leading-3 !important;
    }

    & .MuiCardHeader-subheader {
      @apply leading-3 !important;
    }

    & .MuiCardHeader-action {
      @apply m-0 !important;
    }
  }

  .card:hover .info-checkbox svg {
    animation: box-shadow-pulse 1s ease infinite;
    border-radius: 50%;
    animation-delay: 1s;
  }

  .card-media {
    @apply relative aspect-video w-full self-stretch overflow-hidden object-cover;
  }

  .card-title {
    @apply max-w-2xl xs:text-base xs:leading-5 sm:text-sm sm:leading-3 md:text-base md:leading-5 !important;
  }

  .card-media:hover .card-title {
    @apply underline;
  }

  .card-media:hover .card-media-image {
    @apply scale-110 ease-in-out !important;
  }

  .card-media-image {
    @apply left-0 top-0 z-0;
  }

  .card-content {
    @apply ml-auto mr-auto box-border flex flex-col gap-1 p-1.5 !important;
  }

  .card-actions {
    @apply flex flex-row items-center justify-between px-2 py-0.5 !important;
  }

  .article-user-name {
    @apply text-[0.8125rem] font-bold leading-[0.9375rem] no-underline dark:text-alto !important;
  }

  .article-datetime {
    @apply m-0 inline-block align-middle text-[0.8125rem] font-medium leading-[0.9375rem] text-mountain-mist no-underline;
  }

  .article-title {
    @apply mb-4 flex space-x-2 text-mine-shaft no-underline dark:text-alto;
  }

  .article-title:visited {
    @apply text-horizon !important;
  }

  .article-title:hover {
    @apply text-deepsky-blue !important;
  }

  .article-category {
    @apply relative text-xs font-medium leading-6 text-rolling-stone no-underline dark:text-shady-lady !important;
  }

  .article-category:hover {
    @apply text-deepsky-blue dark:text-deepsky-blue !important;
  }

  .content-image {
    @apply relative !important;
  }

  .preview-content {
    @apply mb-4 flex flex-grow flex-col gap-3 text-ellipsis whitespace-normal break-words pr-2 text-sm font-medium leading-4 dark:text-alto;
  }

  :root {
    --font-serif: Georgia, serif;
    --font-sans: Inter, sans-serif;
    --font-mono: 'Fira Code', monospace;

    /* Article settings variables */
    --article-font-size: 1rem;
    --article-max-width: 70ch;
    --article-font-family: var(--font-sans);
  }

  #article-content {
    font-size: var(--article-font-size);
    max-width: var(--article-max-width);
    font-family: var(--article-font-family), sans-serif;
  }

  .article-content {
    @apply mb-4 dark:text-alto;
  }

  .article-presenter-meta {
    @apply box-border grid gap-6 p-4 text-base leading-[180%] text-horizon !important;

    section {
      @apply ml-0 !important;
    }
  }

  .article-pm-list-title {
    @apply mr-1 font-bold text-mine-shaft;
  }

  .article-pm-list {
    @apply flex flex-wrap items-center gap-2;
  }

  .category-item {
    @apply m-0 inline list-none p-0;
  }

  .category-link {
    @apply inline-flex text-base font-medium leading-7 no-underline !important;
  }

  .category-item::after {
    content: ', ';
  }

  .category-item:last-child::after {
    content: '';
  }

  .tag-item {
    @apply m-0 inline p-0;
  }

  .tag-item::after {
    content: ', ';
  }

  .tag-item:last-child::after {
    content: '';
  }

  .tag-name {
    @apply inline-flex text-sm leading-5 text-horizon no-underline dark:text-curious-blue !important;
  }

  .tag-name:hover {
    @apply text-deepsky-blue !important;
  }

  .tag-link {
    @apply inline-flex text-base font-medium leading-7 no-underline !important;
  }

  .footer {
    @apply bg-white py-6 dark:bg-woodsmoke dark:text-white xs:hidden md:block !important;
  }

  .article-btn {
    @apply inline-flex h-auto max-h-[36px] cursor-pointer items-center rounded-lg border border-solid px-3 py-0 text-[0.8125rem] normal-case leading-[1.6875rem] !important;
  }

  .article-btn:hover {
    @apply border border-solid border-transparent !important;
  }

  .link {
    @apply mt-4 flex flex-row items-center justify-start gap-1 text-horizon no-underline dark:text-curious-blue;
  }

  .link:hover {
    @apply text-deepsky-blue;
  }

  .user-title {
    @apply text-base font-bold text-mine-shaft dark:text-alto !important;
  }

  .user-title:hover {
    @apply text-horizon dark:text-deepsky-blue !important;
  }

  .user-nickname {
    @apply text-sm text-horizon dark:text-deepsky-blue !important;
  }

  .user-description {
    @apply text-sm !important;
  }

  .user-email {
    @apply flex flex-row items-center justify-start gap-1 text-sm !important;
  }

  .user-item-categories {
    @apply text-[0.8125rem] font-normal leading-4 text-mine-shaft dark:text-alto !important;
  }

  .user-tags {
    @apply text-[0.8125rem] font-normal leading-4 text-horizon dark:text-deepsky-blue !important;
  }

  .category-img {
    @apply relative top-0.5 mr-2 block h-12 w-12 flex-none overflow-hidden rounded-lg !important;
  }

  .category-card-name {
    @apply m-0 text-[1.24375rem] font-bold leading-7 text-mine-shaft no-underline dark:text-alto !important;
  }

  .category-card-shortInfo {
    @apply m-0 mt-1 text-sm leading-5 text-mine-shaft dark:text-alto !important;
  }

  .category-card-description {
    @apply m-0 mt-1 text-sm leading-5 text-mine-shaft !important;
  }

  .user-profile-item {
    @apply mx-0 mb-4 mt-0 text-sm font-bold leading-4 text-mine-shaft dark:text-alto !important;
  }

  .user-profile-content {
    @apply mx-0 mb-0 mt-1 min-w-0 text-base leading-6 text-mine-shaft dark:text-alto !important;
  }

  .user-card-content {
    @apply p-4 !important;
  }

  .card-media img {
    @apply w-full;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @keyframes color-pulse {
    50% {
      color: lime;
      opacity: 0.5;
    }
  }

  .animate-color-pulse {
    animation: color-pulse 1s cubic-bezier(0.4, 0, 0.6, 1) 3;
  }

  .flash-highlight {
    @apply animate-color-pulse xs:scroll-m-14 sm:scroll-mt-16;
  }

  @keyframes box-shadow-pulse {
    0% {
      box-shadow: 0 0 0 0 currentColor;
    }
    50% {
      box-shadow: 0 0 0 7px transparent;
    }
    100% {
      box-shadow: 0 0 0 0 transparent;
    }
  }
}

.carousel-container {
  @apply flex w-full items-center gap-2 overflow-hidden;
}

/* Кастомные навигационные кнопки */
.swiper-button-custom {
  @apply relative z-10 flex shrink-0 cursor-pointer items-center justify-center transition-all duration-300 ease-in-out;
}

.swiper-slide {
  @apply overflow-hidden !important;
}

.swiper-button-custom svg {
  @apply size-8;
}

.swiper-button-custom:not(.swiper-button-disabled):hover {
  @apply scale-150 text-red;
}

.swiper-button-custom:not(.swiper-button-disabled):active {
  @apply scale-90;
}

/* Состояние disabled */
.swiper-button-custom.swiper-button-disabled {
  @apply pointer-events-none cursor-not-allowed opacity-50;
}

/* Убираем стандартные кнопки Swiper */
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  @apply hidden !important;
}

@media (max-width: 899px) {
  .swiper-button-custom {
    @apply absolute z-10 shrink-0 items-center justify-center transition-all duration-300 ease-in-out;
  }

  .swiper-button-custom svg {
    @apply size-14;
  }

  .swiper-button-custom:first-child {
    @apply left-2;
  }

  .swiper-button-custom:last-child {
    @apply right-2;
  }
}

@media (hover: none) and (pointer: coarse) {
  .swiper-button-custom:not(.swiper-button-disabled):hover {
    @apply transform-none text-inherit;
  }

  .swiper-button-custom:not(.swiper-button-disabled):active {
    @apply scale-150 bg-black-alpha-10 text-red transition-all duration-100 ease-in-out;
  }
}

/*!* Расчет позиции слайдов *!*/
/* Общая ширина = 100% */
/* Отступы между слайдами = spaceBetween * (количество_слайдов - 1) */
/* Ширина одного слайда = (100% - общие_отступы) / количество_слайдов */
/* Десктоп: 3 слайда, spaceBetween = 24px */
.swiper:not(.swiper-initialized) {
  --slides-count: 3;
  --space-between: 24px;
}

.swiper:not(.swiper-initialized) .swiper-slide {
  width: calc(
    (100% - (var(--space-between) * (var(--slides-count) - 1))) /
      var(--slides-count)
  ) !important;
  margin-right: var(--space-between) !important; /* Имитируем spaceBetween */
}

.first-slide {
  @apply md:hidden;
}

.swiper:not(.swiper-initialized) .swiper-slide:last-child {
  @apply mr-0 !important;
}

/* Десктоп: 3 слайда, spaceBetween = 20px */
@media (max-width: 1535px) {
  .swiper:not(.swiper-initialized) {
    --slides-count: 3;
    --space-between: 20px;
  }
}

/* Планшет: 2 слайда, spaceBetween = 16px */
@media (max-width: 1199px) {
  .swiper:not(.swiper-initialized) {
    --slides-count: 2;
    --space-between: 16px;
  }
}

/* Мобайл: 1 слайд, spaceBetween = 0px */
@media (max-width: 899px) {
  .swiper:not(.swiper-initialized) {
    --slides-count: 1;
    --space-between: 16px;
  }

  .swiper:not(.swiper-initialized) .swiper-slide {
    @apply mr-0 !important;
  }
}
